*.dep
*.o
/.emacs.desktop
/.emacs.desktop.lock
/EGP
/config.h
*.tlog
*.filters
*.user
*.log
*.unsuccessfulbuild
*.pdb
*.exe
*.ilk
*.opensdf
*.old
*.ipch
*.obj
*.idb
*.lastbuildstate
*.lastbuildstate
*.cache
*.tlh
*.manifest
/SWObjects.suo
